/*
 - Main style sheet for game and lobby, etc.
*/

@media screen and (min-width: 500px) {
  #options {
    padding-top:25px;
  }
}
@media screen and (min-width: 1000px) {
  .ranking {
    margin-bottom: 25px;
    width: 150px;
  }
}

@media screen and (max-width: 1200px) {
    /*
    body {
        background-color: lightgreen;
    }
    */

    .page-header {
      padding-bottom: 35px;
    }

    .event-panel {
      margin-top: 15px;
      margin-left: 15px;
      margin-right: 15px;
    }

    .ranking {
        border:1px solid #d2d2d2;
        border-radius:5px;
        margin-right: 5px;
        margin-bottom: 5px;
        text-align: left;
    }
}

.card {
    border:4px solid #000000;
    border-radius:5px;
    margin-top: 25px;
    margin-right: 15px;
    margin-left: 15px;
    text-align: center;
}

.card-image {
  margin: auto;
  margin-top: 10px;
}

.card-submit {
  margin-top: 15px;
}

.card-division {
  margin-right: 15px;
}

.chat {
  height: 200px;
  overflow: scroll;
}

.ranking {
    border:1px solid #d2d2d2;
    border-radius:5px;
    margin-right: 5px;
    margin-bottom: 5px;
    text-align: left;
}

.rank-pic {
  margin-left: 1px;
  margin-top: 5px;
  width: 35px;
  height: 35px;
}

.ranking-text {
    margin-top: -1px;
}

.wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}

.map-bg {
  background-image: url("../images/map.png");
  background-size: 25%;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 30px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: 15px;
  /*border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;*/
}

.form-signin input[type="password"] {
  margin-bottom: 20px;
  /*border-top-left-radius: 0;
  border-top-right-radius: 0;*/
}

.circle {
	border-radius: 50%;
	width: 25px;
	height: 25px;
  background-color: red;
  text-align: center;
  vertical-align: middle;
  color: white;
	/* width and height can be anything, as long as they're equal */
}

.pusher {
  padding-top: 8.5px;
}

#cards {
  margin-left: 25px;
}

#events {
  height: 185px;
  overflow: scroll;
}

#map {
  overflow: scroll;
  white-space: nowrap;
  border:1px solid #d2d2d2;
  border-radius:5px;
  margin-top: 25px;
  height: 490px;
  width: 100%;
}

#inner-map {
  position: relative;
  width:733px;
}

#map-pic {
  position: relative;
}

#ranks {
  margin: auto;
}

#chat-send {
  margin-left: 3px;
}

#chat-body {
  width: 200px;
}

#title {
  display: inline-block;
}
